<div id="user_details"></div>

<!-- Handlebar templates required by JS in this file --> 
<%= render "user_details.hbr.html.erb" %>

<!-- Modal windows for edit/delete operations -->
<%= render "user_delete_modal.html.erb" %>
<%= render "user_edit_modal.html.erb" %>