<div class="container">
  <div id="exTab2" class="container"> 
      <ul  class="nav nav-tabs">
        <li class="active">
          <a  href="#1a" data-toggle="tab">User Details</a>
        </li>
      </ul>

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
          <div class="container">
              <div class="row row-grid">
                <div class="col-md-12">
                  <h3 class="col-2">&nbsp;</h3>
                  <div class="container">
                      <form role="form" class="form-horizontal">
                        <div class="form-group">
                              <div class="col-sm-2 pull-left"><button type="button" class="btn btn-primary btn-md form-control col-2" data-title="Create" data-toggle="modal" data-target="#create">Add User</span></button>
                              </div>
                              <div class="col-sm-4 pull-right"><input id="search_user" type="text" class="form-control" placeholder="search"></div>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
              <%= render "user_details.html.erb" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

